<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>ManyPrimates</h1>
        <p>Establishing a Culture of Collaboration in Primate Cognition Research</p>
      </header>
      <p>The ManyPrimates project was initiated to facilitate collaboration across study sites in primate cognition research.  By joining forces, we hope to address important outstanding questions that individual labs could not answer by themselves. These include:</p>

      <ul>
        <li>How reliable are effects in primate cognition research?</li>
        <li>How do cognitive abilities map onto phylogeny?</li>
        <li>How do environmental variables influence cognition?</li>
        <li>How are individual differences in performance structured across tasks and species?</li>
      </ul>

      <ul class="actions">
        <li><a href="mailto:{{ site.email }}" target = "_blank" class="button big">Get in touch!</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/pic10.jpg" alt="" />
    </span>
  </section>
