<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Menu</h2>
          </header>
          <ul>
            <li><a href="{{ site.url | absolute_url }}">Home</a></li>
            <li>
              <span class="opener">Projects</span>
              <ul>
                <li><a href="{{ 'pilot.html' | absolute_url }}">Pilot</a></li>
                <li><a href="{{ 'project1.html' | absolute_url }}">ManyPrimates 1</a></li>
                <li><a href="{{ 'project2.html' | absolute_url }}">ManyPrimates 2</a></li>
              </ul>
            </li>
            <li><a href="{{ 'authorship.html' | absolute_url }}">Authorship Guidelines</a></li>
            <li><a href="{{ 'ethics.html' | absolute_url }}">Ethics Guidelines</a></li>
            <!-- <li><a href="{{ 'generic.html' | absolute_url }}">Generic</a></li> -->
            <!-- <li><a href="{{ 'elements.html' | absolute_url }}">Elements</a></li> -->
          </ul>
        </nav>

      <!-- Section -->
        <!-- section>
          <header class="major">
            <h2>Ante interdum</h2>
          </header>
          <div class="mini-posts">
            <article>
              <a href="#" class="image"><img src="assets/images/pic07.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
            <article>
              <a href="#" class="image"><img src="assets/images/pic08.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
            <article>
              <a href="#" class="image"><img src="assets/images/pic09.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
          </div>
          <ul class="actions">
            <li><a href="#" class="button">More</a></li>
          </ul>
        </section -->

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Contact</h2>
          </header>
          <p>We encourage everyone who is interested in primate cognition to get involved. Access to primates is <strong>NOT</strong> a prerequisite.</p>
          <ul class="contact">
            <li class="fa-envelope-o"><a href="mailto:{{ site.email }}" target="_blank">{{ site.email }}</a></li>
            <li class="fa-twitter"><a href="{{ site.twitter_url }}" target="_blank">twitter.com/ManyPrimates</a></li>
            <li class="fa-github"><a href="{{ site.github_url }}" target="_blank">github.com/ManyPrimates</a></li>
            <li class="ai-osf"><a href="{{ site.osf_url }}" target="_blank">osf.io/tr6q3</a></li>
            <li class="fa-slack"><a href="{{ site.slack_url }}" target="_blank">manyprimates.slack.com</a></li>
          </ul>
        </section>

      <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; 2018 {{ site.title }}. All rights reserved. Design: <a href="https://html5up.net" target="_blank">HTML5 UP</a>. Jekyll integration: <a href="http://andrewbanchi.ch/" target="_blank">Andrew Banchich</a>.</p>
        </footer>

    </div>
  </div>
